[Desktop Entry]
Name=Bruno
GenericName=API Client
Comment=Opensource API Client for Exploring and Testing APIs
Exec=/home/andysierra/.local/share/bruno/bruno.AppImage --no-sandbox %U
Icon=bruno
Type=Application
Terminal=false
Categories=Development;
MimeType=x-scheme-handler/bruno;
StartupWMClass=Bruno
StartupNotify=true
