[Desktop Entry]
Name=crp (Brave · Personal)
Comment=Brave con el perfil "Default" (rofi: escribir crp)
Exec=/usr/bin/brave-browser-stable --enable-features=AcceleratedVideoDecodeLinuxGL,AcceleratedVideoDecodeLinuxZeroCopyGL,VaapiVideoDecoder,VaapiVideoDecodeLinuxGL --profile-directory="Default" %U
Icon=brave-browser
Type=Application
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=brave-browser
StartupNotify=true
